<html ng-app="form">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
	</script>
	<script>
	 var app = angular.module('form',[]);
	 app.controller('promiseControl',['$scope', '$q', '$interval', function($scope, $q, $interval){

     $scope.getPromise = function(){
     var i =0 ;
     var deferred = $q.defer();
     var timer = $interval(function(){


    if(!!$scope.cancelRequested)
    	{
    		deferred.reject('Promise rejected due to cancellation');
        $interval.cancel(timer);
        }
        i = i +1;
        if(i==5){
        	deferred.resolve('counter has reached 5');
        	$interval.cancel(timer);
        }
        else{
        	deferred.notify('counter has reached'+i);
        }
     }, 1000);
     return deferred.promise;
 }
 $scope.getAsync = function(){
 	var promise = $scope.getPromise();
 	promise.then(function(message){
 		$scope.status = "resolved"+ message;
 	}, function(message){
 		$scope.status = "rejected"+ message;
 	},function(message){
 		$scope.status = "Notifying"+message;
 	});
 }

	 }]);
	 	
    </script>
</head> 
<body ng-controller="promiseControl"> 
	<input type="button" ng-click="getAsync()" value="get me an async message"/> </br>
<input type="button" ng-click="cancelRequested=true" value="cancel fetching the data"/>
</br>
Promise status = {{status}}


</body>
</html>